* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    
}
main {
    position: absolute;
    width: 100vw;
    margin: 0;
    padding: 0;
    top: 0;
    
    
}
.nav-bar {
    color: white;
    position: absolute;
    z-index: 1;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: auto;
    padding: 40px;
    right: 40px;
    left: 40px;
    
    
  }
  button {
    padding: 7px 10px;
    border-radius: 5px;
    background-color: rgba(65, 68, 68, 0.5);
    border: none;
    color: white;
    font-size: 25px;
    margin: 0 5px;
    cursor: pointer;


  }
  button.btn1 {
    
    border: 1px solid white;
  }
  button.btn2 {
    background-color: red;
  }
.front {
    box-sizing: border-box;
    border: black;
    height: 700px;
    
}

.middle-content {
    position: absolute;
    width: 100vw;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    gap: 10px;
}
.firstline {
    color: white;
    font-size: 80px;
    font-weight: 700;
    z-index: 1;
}
.secondline {
color: white;
font-size: 72px;
font-weight: 600;
    z-index: 1;
}
.thirdline {
color: white;
    font-size: 35px;
    font-weight: 300;
    z-index: 1;
}
.fourthline {
    display: flex;
    align-items: center;
    justify-content: center;
}
button.email-bar {
    border: 2px solid white;
    z-index: 1;
    color: gray;
    padding: 20px 100px 20px 20px;
     border-radius: 10px;
}
button.Get-started {
    padding: 20px;
    background-color: red;
    z-index: 1;
    border-radius: 10px;
    font-size: 35px;
    font-weight: 500;
}

.front img {
    width: 100%;
    height: 737px;
    object-fit: cover;
    object-position: center;
    position: absolute;

}

.darkness {
    width: 100%;
    height: 737px;
    background-color: rgba(0, 0, 0, 0.533);
    position: absolute;
    top: 0px;
    object-fit: cover;
}

.seprator {
    height: 200px;
    width: 100%;
    background: #020024;
    background: linear-gradient(0deg, rgb(1, 0, 5) 17%, rgba(9, 9, 121, 1) 100%, rgba(0, 212, 255, 1) 100%);
    box-sizing: border-box;
    border-top-left-radius: 50% 19%;
    border-top-right-radius: 50% 19%;
    position: relative;
    top: 0px;
    border-top: 10px solid rgb(255, 0, 0);
}

.container-1 {
    height: 400px;
}
.trending-now {
    height: 322px;
    background-color: rgba(126, 112, 112, 0.453);
    width: 265px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}
.trending-now img {
    height: 95%;
    border-radius: 15px;
}
.numbers p {
    font-size: 200px;
    color: white;
    position: absolute;
    z-index: 1;
    font-weight: 800;
    display: flex;
    align-items: right;
    left: 0;
    bottom: 0;
    
}


